<div class="row">
  <div class="col l4 m2 s1" ng-repeat="player in teamDetail.players track by $index">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" ng-src={{player.imagesrc}}>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{player.name}}<i class="material-icons right">more_vert</i></span>
        <p><a ng-href="{{player.fb}}">
          <img ng-src="images/fb.png">
        </a></p>
      </div>
      <div class="card-action">
        <a ng-href="{{player.insta}}">
          <img ng-src="images/insta.png">
        </a>
        <a href="{{player.twitter}}">
          <img ng-src="images/twitter.png">
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Player Detail<i class="material-icons right">close</i></span>
        <li>Name : {{player.name}}</li>
        <li>Country : {{player.country}}</li>
        <li>Position : {{player.position}}</li>
        <li>Age : {{player.age}}</li>
        <li>T-Shirt No. : {{player.tshirtNo}}</li>
        <li>Goals : {{player.goals}}</li>
      </div>
    </div>
  </div>
</div>